<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Entregas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Entregas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-row>
      <ion-col col-5>
            <img src="./assets/user.png">
      </ion-col>
    <ion-col col-7>
      <ion-card-header color="#FFFF">
        <strong>CONTEUDO</strong>
      </ion-card-header>
        <ion-card-content>
          <p><ion-icon name="earth-outline"></ion-icon> Entrega</p>
          <p><ion-icon name="globe-outline"></ion-icon> Retirada</p>
          <p><ion-icon name="information-circle-outline"></ion-icon> Nome recebedor</p>
        </ion-card-content>
      </ion-col>
      
    </ion-row>
  </ion-card>

 


  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
